In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Illapel,CL,2022-05-24 22:12:29,-31.6308,-71.1653,63.82,62,100,4.38
1,1,Punta Arenas,CL,2022-05-24 22:12:29,-53.1500,-70.9167,35.71,75,40,13.80
2,2,Tasiilaq,GL,2022-05-24 22:12:30,65.6145,-37.6368,33.96,93,100,3.09
3,3,Albany,US,2022-05-24 22:12:17,42.6001,-73.9662,71.58,50,71,3.98
4,4,Hobart,AU,2022-05-24 22:12:31,-42.8794,147.3294,39.27,94,0,8.05

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
#Create a new DataFrame
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp)]

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Rikitea,PF,2022-05-24 22:12:33,-23.1203,-134.9692,76.44,73,69,10.54
13,13,Cabo San Lucas,MX,2022-05-24 22:09:25,22.8909,-109.9124,83.61,53,0,10.36
14,14,Atuona,PF,2022-05-24 22:12:36,-9.8000,-139.0333,78.24,72,14,17.58
15,15,Newport Beach,US,2022-05-24 22:09:57,33.6189,-117.9289,87.60,63,20,9.22
18,18,Manito,PH,2022-05-24 22:12:38,13.1235,123.8693,80.94,84,38,4.79
20,20,Port Blair,IN,2022-05-24 22:12:40,11.6667,92.7500,82.17,81,80,19.19
24,24,Vaini,TO,2022-05-24 22:12:42,-21.2000,-175.2000,82.56,78,40,4.61
25,25,Kanker,IN,2022-05-24 22:12:42,20.2719,81.4931,83.84,39,41,1.32
27,27,Palembang,ID,2022-05-24 22:12:43,-2.9167,104.7458,77.09,94,40,2.30
35,35,Bathsheba,BB,2022-05-24 22:12:47,13.2167,-59.5167,81.21,78,20,12.66

In [26]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
9          Rikitea      PF     76.44 -23.1203 -134.9692
13  Cabo San Lucas      MX     83.61  22.8909 -109.9124
14          Atuona      PF     78.24  -9.8000 -139.0333
15   Newport Beach      US     87.60  33.6189 -117.9289
18          Manito      PH     80.94  13.1235  123.8693
20      Port Blair      IN     82.17  11.6667   92.7500
24           Vaini      TO     82.56 -21.2000 -175.2000
25          Kanker      IN     83.84  20.2719   81.4931
27       Palembang      ID     77.09  -2.9167  104.7458
35       Bathsheba      BB     81.21  13.2167  -59.5167

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Rikitea,PF,76.44,-23.1203,-134.9692,People ThankYou
13,Cabo San Lucas,MX,83.61,22.8909,-109.9124,Vista Roof Restaurant
14,Atuona,PF,78.24,-9.8000,-139.0333,Villa Enata
15,Newport Beach,US,87.60,33.6189,-117.9289,"Holiday Inn Express Newport Beach, an IHG Hotel"
18,Manito,PH,80.94,13.1235,123.8693,Magdoong's Manito Inn
20,Port Blair,IN,82.17,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
24,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
25,Kanker,IN,83.84,20.2719,81.4931,STARiHOTEL Kanker
27,Palembang,ID,77.09,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
35,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))